<a href="https://colab.research.google.com/github/teclarke/tutorials/blob/master/4_For_loops_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For loops and functions

## Review
So far you should know :

1. How to create variables and perform tests using conditionals
2. How to use while loops to repeat code until a condition has been met
3. How to store multiple pieces of information in a list
4. How to use sum and len on a list.

## More useful things with lists
### Finding Items

We can find items using the in operator. Like so!
```
>>> 'apples' in ('pears', 'cheddar', 'fruit')
True
>>> 'cheddar' in ('bree', 'halloumi', 'babybel', 'gouda')
False
```

### Generating Numbers

The range function allows us to generate numbers in a sequence.

 For example range(5) generates 0, 1, 2, 3, 4. 
 
 This is why there five numbers in total. 
 
 We can also provide two numbers range(10, 15) generates 10, 11, 12, 13, 14. If we want to change the step (from the default of 1) we can specify it. 
 
 For example range(10, 30, 5) will produce 10, 15, 20, 25.
```
for j in range(10, 0, -1):
  print(j)

print("Lift off!")
```

## List Exercises
### Sum of Cubed Numbers

Produce a list of a cubed numbers from M3 to N3  where M < N. Sum the result.

In [6]:
m = int(input("Please enter lower limit. >"))
n = int(input("Please enter upper limit. >"))

Please enter lower limit. >1
Please enter upper limit. >3

In [8]:
cubed_numbers = []
for x in range(m,n+1):
  x**=3
  cubed_numbers.append(x)
print(cubed_numbers)
print("Total sum:", sum(cubed_numbers))

[1, 8, 27]
Total sum: 36

### Remove duplicates from a list manually

The following code will generate 20 numbers with some duplicates. Iterate over the list and add unique items to a new list.

In [12]:
from random import choices

items = list(choices(range(-10, 10), k=20))
unique = []
for item in items:
  if item not in unique:
    unique.append(item)
unique.sort()
print("Original", items)
print("No duplicates", unique)

Original [-10, -3, -1, 5, 8, 2, 1, 4, 2, 9, -7, -3, -1, 6, -7, 2, 5, -5, -6, 3]
No duplicates [-10, -7, -6, -5, -3, -1, 1, 2, 3, 4, 5, 6, 8, 9]

## Permutations of items

Write a program which outputs all possible permutations of a list :

In [0]:
items = ['apple', 'cheese', 'pickle']


Should output:
```
('apple', 'cheese', 'pickle')
('apple', 'pickle', 'cheese')
('cheese', 'apple', 'pickle')
('cheese', 'pickle', 'apple')
('pickle', 'apple', 'cheese')
('pickle', 'cheese', 'apple')
```

In [38]:
p = [[] for i in range(len(items))]

p

[[], [], []]