<a href="https://colab.research.google.com/github/teclarke/tutorials/blob/master/4_For_loops_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For loops and functions

## Review
So far you should know :

1. How to create variables and perform tests using conditionals
2. How to use while loops to repeat code until a condition has been met
3. How to store multiple pieces of information in a list
4. How to use sum and len on a list.

## More useful things with lists
### Finding Items

We can find items using the in operator. Like so!
```
>>> 'apples' in ('pears', 'cheddar', 'fruit')
True
>>> 'cheddar' in ('bree', 'halloumi', 'babybel', 'gouda')
False
```

### Generating Numbers

The range function allows us to generate numbers in a sequence.

 For example range(5) generates 0, 1, 2, 3, 4. 
 
 This is why there five numbers in total. 
 
 We can also provide two numbers range(10, 15) generates 10, 11, 12, 13, 14. If we want to change the step (from the default of 1) we can specify it. 
 
 For example range(10, 30, 5) will produce 10, 15, 20, 25.
```
for j in range(10, 0, -1):
  print(j)

print("Lift off!")
```

## List Exercises
### Sum of Cubed Numbers

Produce a list of a cubed numbers from M3 to N3  where M < N. Sum the result.

In [0]:
m = int(input("Please enter lower limit. >"))
n = int(input("Please enter upper limit. >"))

Please enter lower limit. >1
Please enter upper limit. >3

In [0]:
cubed_numbers = []
for x in range(m,n+1):
  x**=3
  cubed_numbers.append(x)
print(cubed_numbers)
print("Total sum:", sum(cubed_numbers))

[1, 8, 27]
Total sum: 36

### Remove duplicates from a list manually

The following code will generate 20 numbers with some duplicates. Iterate over the list and add unique items to a new list.

In [0]:
from random import choices

items = list(choices(range(-10, 10), k=20))
unique = []
for item in items:
  if item not in unique:
    unique.append(item)
unique.sort()
print("Original", items)
print("No duplicates", unique)

Original [-10, -3, -1, 5, 8, 2, 1, 4, 2, 9, -7, -3, -1, 6, -7, 2, 5, -5, -6, 3]
No duplicates [-10, -7, -6, -5, -3, -1, 1, 2, 3, 4, 5, 6, 8, 9]

## Permutations of items

Write a program which outputs all possible permutations of a list :

In [0]:
items = ['apple', 'cheese', 'pickle']


Should output:
```
('apple', 'cheese', 'pickle')
('apple', 'pickle', 'cheese')
('cheese', 'apple', 'pickle')
('cheese', 'pickle', 'apple')
('pickle', 'apple', 'cheese')
('pickle', 'cheese', 'apple')
```

In [0]:
import itertools
list(itertools.permutations(items))

[('apple', 'cheese', 'pickle'),
 ('apple', 'pickle', 'cheese'),
 ('cheese', 'apple', 'pickle'),
 ('cheese', 'pickle', 'apple'),
 ('pickle', 'apple', 'cheese'),
 ('pickle', 'cheese', 'apple')]

## Output Overlapping Terms
Two words are passed. Only output letters from the first which appear in the second, otherwise '_'

For example:
 ```
 first = 'cheese'; second = 'he'
 ```

outputs :
``` '_hee_e' ```

***extension*** Use this to produce a game of hangman.

In [0]:
def overlap(first,second):
  overlapping = ""
  for letter in first:
    if letter in second:
      overlapping += letter
    else:
      overlapping += "_"
  return overlapping

first = "cheese"
second = "he"
print(overlap(first,second))

_hee_e

# Functions and procedures

In Python we will often want to repeat code. One of the most important things to learn about coding is to obey the DRY principle. 

**DRY means DON'T REPEAT YOURSELF**

One way we can ensure this, is to write functions. A function takes inputs and gives outputs. You've already used functions like sum, len and input. Each of these take inputs and give us back something useful. Mastering functions is essential to writing good code!

For example, let's write a function that returns all the odd numbers between two numbers.

* Functions - **A block of code that takes an input and returns a value.**
* Procedures **A block of code that does not return an output value.**

*Functions and procedures are used to **improve readibility & avoid repetition**.*

* Abstraction **Removing unnecessary detail.**
* Decomposition **Breaking a problem down into managable tasks.**

* Encapsulation - **Hiding unnecessary details.**

## Exercises using functions
1. Write a Python function to find the Max of three numbers.

In [0]:
def input_numbers(how_many_numbers):
  """
  Asks the user to input how_many_numbers numbers and stores them in a list.
  """
  nums = []
  while len(nums) < how_many_numbers:
    try:
      number = float(input("> "))
      nums.append(number)
    except ValueError:
      print("Failed.")
  return nums

In [8]:
def find_max(n):
  """
  Finds the largest number in list n
  """
  return max(n)

numbers = get_numbers(3)
find_max(numbers)

Enter a number. >1
Enter a number. >2
Enter a number. >3

3.0

2. Write a Python function to multiply all the numbers in a list.

In [11]:
def multiply_numbers(n):
  """
  Multiplies all numbers in list n together.
  """
  multiplied = 0
  for number in n:
    if multiplied == 0:
      multiplied = number
    else:
      multiplied *= number
  return multiplied

list_of_numbers = input_numbers(3)
multiply_numbers(list_of_numbers)

Enter a number. >1
Enter a number. >5
Enter a number. >10

50.0

3. Write a function that returns True if a number is odd and False if even.

In [12]:
def is_odd(n):
  """
  Returns true if number n is odd and false if n is even.
  """
  if n % 2 == 0:
    return False
  else:
    return True

print(is_odd(2))
print(is_odd(3))

False
True

4. Write a function that returns True if a number is prime and False if not.

In [0]:
def is_prime(n):
  """
  Returns true if number n is prime and false if it is not.
  """
  if n == 2:
    return True
  elif n == 1:
    return False
  else:  
    for factor in range(2,n):
      if (n % factor) == 0:
        return False
      else:
        return True

print(is_prime(10))
print(is_prime(2))

False
True

5. Write a function to return the area of a circle based on the diameter being inputted.

In [0]:
from math import pi
def area(d):
  """
  Calculates the area of a circle with diameter d.
  """
  r = d/2
  a = pi*(r**2)
  return a

diameter = float(input("Enter diameter. >"))
print("Area is", area(diameter))

Enter diameter. >3
Area is 7.0685834705770345

6. Write a function that calculates the hypotenuse of a triangle.

In [14]:
from math import sqrt
def hyp(a,b):
  """
  Calculates the hypoteneuse of a pythagorean triangle from with sides a and b.
  """
  return sqrt((a**2)+(b**2))

hyp(3,4)

5.0

7. Write a function that solves the quadratic formula (ax2   + bx + c = 0) hint: remember the quadratic formula!!

In [27]:
def quadratic(a, b, c):
  """
  Calculates the solutions to a quadratic equation in the format ax^2 + bx + c = 0
  using the quadratic formula. Returns both solutions, false if no solutions.
  """
  try:
    x1 = ((-b)+sqrt((b**2)-(4*a*c)))/(2*a)
    x2 = ((-b)-sqrt((b**2)-(4*a*c)))/(2*a)
    return x1,x2
  except ValueError:
    return False

print("ax^2 + bx + c = 0")
abc = (input_numbers(3))
q = quadratic(abc[0], abc[1], abc[2])
q = q if q != False else "No solutions"
print(q)

ax^2 + bx + c = 0
> 1
> 2
> 1
(-1.0, -1.0)